USE [master]
GO
/****** Object:  Database [VTYSproje]    Script Date: 29.05.2025 14:38:05 ******/
CREATE DATABASE [VTYSproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VTYSproje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VTYSproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VTYSproje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VTYSproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VTYSproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VTYSproje]
GO
/****** Object:  Table [dbo].[Calisan]    Script Date: 29.05.2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisan](
	[CalisanID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](100) NULL,
	[Pozisyon] [varchar](50) NULL,
	[SubeID] [int] NULL,
	[Telefon] [nvarchar](20) NULL,
	[Eposta] [nvarchar](100) NULL,
	[IseGirisTarihi] [date] NULL,
	[IstenCikisTarihi] [date] NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kargo]    Script Date: 29.05.2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kargo](
	[KargoID] [int] IDENTITY(1,1) NOT NULL,
	[GondericiID] [int] NULL,
	[AliciID] [int] NULL,
	[Agirlik] [decimal](5, 2) NULL,
	[GonderimTarihi] [date] NULL,
	[TahminiTeslim] [date] NULL,
	[Ucret] [decimal](6, 2) NULL,
	[KargoDurumID] [int] NULL,
	[KargoKodu] [nvarchar](20) NULL,
	[GonderenSubeID] [int] NULL,
	[AliciSubeID] [int] NULL,
	[Aciklama] [nvarchar](250) NULL,
	[SonDurumTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KargoKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDurumu]    Script Date: 29.05.2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDurumu](
	[KargoDurumID] [int] IDENTITY(1,1) NOT NULL,
	[Durum] [varchar](50) NULL,
	[Aciklama] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[KargoDurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 29.05.2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[MusteriID] [int] NOT NULL,
	[AdSoyad] [varchar](100) NULL,
	[Telefon] [varchar](15) NULL,
	[Eposta] [varchar](100) NULL,
	[Adres] [text] NULL,
	[KayitTarihi] [date] NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme]    Script Date: 29.05.2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[KargoID] [int] NULL,
	[OdemeTarihi] [date] NULL,
	[OdemeTipi] [varchar](20) NULL,
	[OdemeTutari] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sube]    Script Date: 29.05.2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sube](
	[SubeID] [int] IDENTITY(1,1) NOT NULL,
	[SubeAdi] [varchar](100) NULL,
	[Sehir] [varchar](50) NULL,
	[Ilce] [varchar](50) NULL,
	[Adres] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Calisan_AdSoyad]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Calisan_AdSoyad] ON [dbo].[Calisan]
(
	[AdSoyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calisan_SubeID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Calisan_SubeID] ON [dbo].[Calisan]
(
	[SubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_AliciID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_AliciID] ON [dbo].[Kargo]
(
	[AliciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_AliciSubeID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_AliciSubeID] ON [dbo].[Kargo]
(
	[AliciSubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_GonderenSubeID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_GonderenSubeID] ON [dbo].[Kargo]
(
	[GonderenSubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_GondericiID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_GondericiID] ON [dbo].[Kargo]
(
	[GondericiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_GonderimTarihi]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_GonderimTarihi] ON [dbo].[Kargo]
(
	[GonderimTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_KargoDurumID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_KargoDurumID] ON [dbo].[Kargo]
(
	[KargoDurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kargo_TahminiTeslim]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kargo_TahminiTeslim] ON [dbo].[Kargo]
(
	[TahminiTeslim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Musteri_AdSoyad]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Musteri_AdSoyad] ON [dbo].[Musteri]
(
	[AdSoyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Musteri_Telefon]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Musteri_Telefon] ON [dbo].[Musteri]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Odeme_KargoID]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Odeme_KargoID] ON [dbo].[Odeme]
(
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Odeme_OdemeTarihi]    Script Date: 29.05.2025 14:38:05 ******/
CREATE NONCLUSTERED INDEX [IX_Odeme_OdemeTarihi] ON [dbo].[Odeme]
(
	[OdemeTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calisan] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kargo] ADD  DEFAULT (getdate()) FOR [SonDurumTarihi]
GO
ALTER TABLE [dbo].[Musteri] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Musteri] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD FOREIGN KEY([SubeID])
REFERENCES [dbo].[Sube] ([SubeID])
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD FOREIGN KEY([AliciID])
REFERENCES [dbo].[Musteri] ([MusteriID])
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD FOREIGN KEY([GondericiID])
REFERENCES [dbo].[Musteri] ([MusteriID])
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD FOREIGN KEY([KargoDurumID])
REFERENCES [dbo].[KargoDurumu] ([KargoDurumID])
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [FK_Kargo_AliciSube] FOREIGN KEY([AliciSubeID])
REFERENCES [dbo].[Sube] ([SubeID])
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [FK_Kargo_AliciSube]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [FK_Kargo_GonderenSube] FOREIGN KEY([GonderenSubeID])
REFERENCES [dbo].[Sube] ([SubeID])
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [FK_Kargo_GonderenSube]
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD FOREIGN KEY([KargoID])
REFERENCES [dbo].[Kargo] ([KargoID])
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [CK_Calisan_CikisTarihi] CHECK  (([IstenCikisTarihi] IS NULL OR [IstenCikisTarihi]>[IseGirisTarihi]))
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [CK_Calisan_CikisTarihi]
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [CK_Calisan_Email] CHECK  (([Eposta] like '%@%'))
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [CK_Calisan_Email]
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [CK_Calisan_Telefon] CHECK  ((len([Telefon])>=(10)))
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [CK_Calisan_Telefon]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [CK_Kargo_Agirlik] CHECK  (([Agirlik]>(0)))
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [CK_Kargo_Agirlik]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [CK_Kargo_TeslimTarihi] CHECK  (([TahminiTeslim]>=[GonderimTarihi]))
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [CK_Kargo_TeslimTarihi]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [CK_Kargo_Ucret] CHECK  (([Ucret]>=(0)))
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [CK_Kargo_Ucret]
GO
ALTER TABLE [dbo].[Musteri]  WITH CHECK ADD  CONSTRAINT [CK_Musteri_Email] CHECK  (([Eposta] like '%@%'))
GO
ALTER TABLE [dbo].[Musteri] CHECK CONSTRAINT [CK_Musteri_Email]
GO
ALTER TABLE [dbo].[Musteri]  WITH CHECK ADD  CONSTRAINT [CK_Musteri_Telefon] CHECK  ((len([Telefon])>=(10)))
GO
ALTER TABLE [dbo].[Musteri] CHECK CONSTRAINT [CK_Musteri_Telefon]
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD  CONSTRAINT [CK_Odeme_Tipi] CHECK  (([OdemeTipi]='EFT' OR [OdemeTipi]='Havale' OR [OdemeTipi]='Kredi Kartı' OR [OdemeTipi]='Nakit'))
GO
ALTER TABLE [dbo].[Odeme] CHECK CONSTRAINT [CK_Odeme_Tipi]
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD  CONSTRAINT [CK_Odeme_Tutar] CHECK  (([OdemeTutari]>(0)))
GO
ALTER TABLE [dbo].[Odeme] CHECK CONSTRAINT [CK_Odeme_Tutar]
GO
USE [master]
GO
